<%- include("partials/header") -%>


    <main class="profile">

        <div class="container">
            <div class="row">

                <div class="col-12 flex-container">

                    <div class="col-6">
                        <div class="box-connexion-profile-gauche pageProfilInside">
                            <img src="img/portrait.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="box-connexion-profile-droite pageProfilInside">
                            <h3>Ton profil de skieur</h3>
                            <h1>
                                <%= data.name %>
                            </h1>

                            <div class="box-connexion-profile-inside-description">
                                <span>Description</span>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                    officia
                                    deserunt mollit anim id est laborum."</p>
                            </div>
                            <div class="box-connexion-profile-inside-addon1">
                                <p><span>Ta pente préférée</span> : Sutton, Québec</p>
                                <p><span>Ton niveau de skieur</span> : Novice</p>
                                <br>
                                <p><span>Courriel</span> : <%= data.email %>
                                </p>
                            </div>
                            <div class="icon-profile-section">
                                <img src="/img/add.png" alt="Ajoute comme ami">
                                <img src="/img/message.png" alt="Envoi un message privé">
                                <img src="/img/follow.png" alt="Suivre la personne">
                            </div>
                            <div class="icon-profile-section-social">
                                <img src="/img/social.png" alt="social">
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
        </div>
    </main>
    <footer>
        <a href="/"><img src="/img/logo-p.png"></a>
        <div>Termes et Conditions - Confidentialité - À propos - Nous contacter</div>
        <div><img src="/img/socialSkieur.png" alt=""></div>
    </footer>
</body>

</html>