<%- include("partials/header") -%>

    <main>
        <div class="col-12 flex-container-titre-form">
            <h1 class="titre-signup-signin">Se connecter</h1>
        </div>
        <div class="col-12 flex-container-signup-signin">
            <form method="post" action="/signin" class="box-signup-signin height-signin">
                <label for="email">Votre courriel</label>
                <input type="text" id="email" name="email" required="required">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required="required">
                <button type="submit">Connexion</button>
                <p>Pas de compte? <span><a href="/signup">Créer un compte</a></span></p>
            </form>
        </div>
        </div>
        </div>
    </main>
    
    <%- include("partials/footer") -%>
